rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
		// Remove It After We Finish
    match /{document=**} {
      allow read, write: if true;
    }
    match /users/{userId}{
			// To Make Sure Users Can Access Their Own Data. 
			// Make sure the uid of the requesting user matches name of the user
    	// document. The wildcard expression {userId} makes the userId variable
    	// available in rules.

    	allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    match /diary/{userId}/{items}/{item= **}{
			// Make Sure The User Exists Before Manipulating The Diary Data
      
    	allow read, write : if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
  }
}	