<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176584428229-bvdsrtvn0143cb3re67fsn8aeqqb4p7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176584428229-bvdsrtvn0143cb3re67fsn8aeqqb4p7c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176584428229-v76oknbrf13g38clqckjc90jv6ge2rmj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCceC0xok3iahKwYquW2p66s9lLDodFkDI</string>
	<key>GCM_SENDER_ID</key>
	<string>176584428229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthTracker</string>
	<key>PROJECT_ID</key>
	<string>health-tracker-aa3ae</string>
	<key>STORAGE_BUCKET</key>
	<string>health-tracker-aa3ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176584428229:ios:de9cc6fbb035f3d3c47eac</string>
	<key>DATABASE_URL</key>
	<string>https://health-tracker-aa3ae-default-rtdb.firebaseio.com</string>
</dict>
</plist>